accelerate==0.33.0
codecarbon==2.5.1
datasets==2.20.0
diffusers==0.30.0
huggingface-hub==0.24.5
librosa==0.10.1
omegaconf==2.3.0
# optimum-benchmark @ git+https://github.com/huggingface/optimum-benchmark@energy_star_dev
torch==2.4.0
transformers==4.44.0
